a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	outline: 0 !important;
}

* {
	-webkit-text-size-adjust: auto !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
	display: block;
}

a {
	border: 0;
}

html {
	overflow-x: hidden;
}

body {
	line-height: 1;
	word-wrap: break-word;
}

ol,
ul {
	list-style: none;
}

html,
body {
	margin: 0 !important;
}

@font-face {
  font-family: 'Aachen';
  src: url('../fonts/Aachen.eot?#iefix') format('embedded-opentype'), 
   url('../fonts/Aachen.woff') format('woff'),
    url('../fonts/Aachen.ttf')  format('truetype'),
     url('../fonts/Aachen.svg#Aachen') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AachenBT-Bold';
  src: url('../fonts/AachenBT-Bold.eot?#iefix') format('embedded-opentype'), 
   url('../fonts/AachenBT-Bold.woff') format('woff'),
    url('../fonts/AachenBT-Bold.ttf')  format('truetype'),
     url('../fonts/AachenBT-Bold.svg#AachenBT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


.gj-wrapper {
  width: 100%;
  min-height: 100vh;
  background: url("../img/back.png");
  box-sizing: border-box;
  overflow: hidden;

}

.gj-game {
  height: 100%;
  width: 100%;
}

.gj-table {
	width: 1754px;
	height: 1080px;
	background-image: url("../img/table.png");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.buttons {
	position: absolute;
	bottom: 73px;
	width: 900px;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: space-between;

}

#randomize {
	width: 108px;
	height: 90px;
	border-radius: 50%;
	text-transform: uppercase;
	background-color: #27f000;
	border-color: transparent;
	box-shadow: 0px 10px 0 #157b00;
	cursor: pointer;
	font-family: 'AachenBT-Bold';
	font-size: 26px;
}

.cash {
	width: 75px;
	height: 62px;
	border-radius: 50%;
	text-transform: uppercase;
	background-color: #f0bb00;
	border-color: transparent;
	box-shadow: 0px 10px 0 #7a5f00;
	font-family: 'AachenBT-Bold';
	font-size: 16px;
}

.all-coins {
	height: 800px;
	position: relative;
	top: 200px;
}

.coins {
	width: 900px;
	position: relative;
}

.coins.line1 {
	transition: left 2s;
}

.coins.line1,
.coins.line3 {
	left: -100%;
}

.coins.line2,
.coins.line4 {
	right: -100%;
}

.coins.line2 {
	transition: right 3s;
}

.coins.line3 {
	transition: left 4s;
}

.coins.line4 {
	transition: right 5s;
}

@keyframes rotation {
	0% {
		transform: rotate3d(0, 1, 0, 0deg);
	}
	50% {
		transform: rotate3d(0, 1, 0, 180deg);
	}
	100% {
		transform: rotate3d(0, 1, 0, 360deg);
	}
}

@keyframes rotationSmall {
	0% {
		transform: rotate3d(0, 1, 0, 0deg);
	}
	50% {
		transform: rotate3d(0, 1, 0, 180deg);
	}
	100% {
		transform: rotate3d(0, 1, 0, 0deg);
	}
}

.container {
	perspective: 1000;
	/*  margin: 1em auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;*/
}

.container>div {
	position: absolute;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 50px;
	animation-name: rotation;
	animation-iteration-count: 4;
	animation-timing-function: linear;
	animation-duration: 2.5s;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: all 0.5s ease;
	pointer-events: none;
}

.face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	backface-visibility: hidden;
}

.container>div.active {
	animation-name: rotationSmall !important;
	animation-iteration-count: 2;
	animation-timing-function: linear;
	animation-duration: 0.2s;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: all 0.2s ease;
	cursor: pointer;
}

.active .tails {
	transform: rotateY(0deg);
	z-index: 2;
}

.heads {
	background-image: url("../img/coin/face.png");
	background-size: 100%;
	z-index: 2;
	transform: rotateY(0deg);
}

.tails {
	background-image: url("../img/coin/coin1.png");
	background-size: 100%;
	z-index: 1;
	transform: rotateY(180deg);
}

.coin1,
.coin2,
.coin3,
.coin4,
.coin5 {
	top: 0
}

.coin6,
.coin7,
.coin8,
.coin9,
.coin10 {
	top: 150px;
}

.coin11,
.coin12,
.coin13,
.coin14,
.coin15 {
	top: 300px;
}

.coin16,
.coin17,
.coin18,
.coin19,
.coin20 {
	top: 450px;
}

.coin1,
.coin6,
.coin11,
.coin16 {
	left: 0
}

.coin2,
.coin7,
.coin12,
.coin17 {
	left: 200px;
}

.coin3,
.coin8,
.coin13,
.coin18 {
	left: 400px;
}

.coin4,
.coin9,
.coin14,
.coin19 {
	left: 600px;
}

.coin5,
.coin10,
.coin15,
.coin20 {
	left: 800px;
}

.tails1 {
	background-image: url("../img/coin/coin1.png");
}

.tails2 {
	background-image: url("../img/coin/coin2.png");
}

.tails3 {
	background-image: url("../img/coin/coin3.png");
}

.tails4 {
	background-image: url("../img/coin/coin4.png");
}

.tails5 {
	background-image: url("../img/coin/coin5.png");
}

.tails6 {
	background-image: url("../img/coin/coin6.png");
}

.tails7 {
	background-image: url("../img/coin/coin7.png");
}

.tails8 {
	background-image: url("../img/coin/coin8.png");
}

.tails9 {
	background-image: url("../img/coin/coin9.png");
}

.tails10 {
	background-image: url("../img/coin/coin10.png");
}

.tails11 {
	background-image: url("../img/coin/coin11.png");
}

.tails12 {
	background-image: url("../img/coin/coin12.png");
}

.tails13 {
	background-image: url("../img/coin/coin13.png");
}

.tails14 {
	background-image: url("../img/coin/coin14.png");
}

.tails15 {
	background-image: url("../img/coin/coin15.png");
}

.tails16 {
	background-image: url("../img/coin/coin16.png");
}

.tails17 {
	background-image: url("../img/coin/coin17.png");
}

.tails18 {
	background-image: url("../img/coin/coin18.png");
}

.tails19 {
	background-image: url("../img/coin/coin19.png");
}

.tails20 {
	background-image: url("../img/coin/coin20.png");
}


.buttons h2{

	font-size: 35px;
	color: #ffffff;
	font-family: 'Aachen';
	text-transform: uppercase;
	text-shadow: -3px 0 #0a121c, 0 3px #0a121c, 3px 0 #0a121c, 0 -3px #0a121c;
	width: 100%;
	text-align: center;


}


.start-buttons{

	position: relative;
	top: -20px;
}


.bet-block .bet-block-count{

	display: flex;
	
}


.bet-block .bet-block-count .bet-field,.bonus-block-number{

	width: 250px;
	height: 38px;
	background-color: #1a2636;
	border-radius: 10px;
	-moz-box-shadow:   inset 0 0 9px #0a121c;
  -webkit-box-shadow: inset 0 0 9px #0a121c;
  box-shadow:         inset 0 0 9px #0a121c;
  margin: 4px 10px;

}

.bet-block .bet-block-count button{

	width: 37px;
	height: 35px;
	background-color: #fff;
	border-radius: 10px;
	-moz-box-shadow:   inset 0 0 9px #0a121c;
  -webkit-box-shadow: inset 0 0 9px #0a121c;
  box-shadow:         inset 0 0 9px #0a121c;
  color: #0d121a;
  font-size: 22px;
    font-family: 'AachenBT-Bold';
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    margin-top: 4px;
     border:1px solid #0a121c;



}


.bonus-block:after{
content: "";
clear: both;
display: table;
}

.bonus-block-number{
	float: left;
	margin: 4px 10px 0 0;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;

}


.bonus-block-number button{

		width: 32px;
		height: 24px;
		background-color: #ffff00;
		border-radius: 100%;
			-moz-box-shadow:   inset 0 0 9px #0a121c;
  -webkit-box-shadow: inset 0 0 9px #0a121c;
  box-shadow:         inset 0 0 9px #0a121c;
  border:1px solid #0a121c;
  color: #0a121c;
   font-family: 'AachenBT-Bold';
  font-size: 20px;
    line-height: 20px;
    cursor: pointer;

}

.bonus-block-number button:last-child{
	width: 39px;
		height: 29px;
		background-color: #27f000;
		  font-size: 24px;
    line-height: 24px;
}

.ok-button{
	width: 37px;
	height: 25px;
	background-color: #fff;
	border-radius: 10px;
	-moz-box-shadow:   inset 0 0 9px #0a121c;
  -webkit-box-shadow: inset 0 0 9px #0a121c;
  box-shadow:         inset 0 0 9px #0a121c;
  color: #0d121a;
  font-size: 16px;
    font-family: 'AachenBT-Bold';
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 4px;
    border:1px solid #0a121c;
    color: #27f000;

}